

<div class="text-black my-8 bg-white w-80 h-fit rounded-3xl">
    <%= image_tag("card-default.jpg", class: "rounded w-72 mx-auto my-0 mt-4 pt-2")%>
    <div class="px-4">
        <h3 class="text-2xl font-bold">
            <%= event.title %>
        </h3>
        <p class="my-2">
            Where? <%= event.location %>
        </p>
        <p class="my-2">
           What? <%= event.description %>
        </p>
        <p class="my-2">
            When? <%= event.event_date_time.strftime("%m/%d/%Y @ %I:%M%P") %>
        </p>
        <p>
            Hosted By: <%= link_to event.creator.first_name, user_path(event.creator.id), class: "hover:text-sky-300"%>
        </p>
        <div class="my-2">
            <% if event.attenders.find_by(id: current_user.id) %>
                <p> You are attending this event! </p>
            <% else %>
                <p> You are not attending this event. Click <span class="text-green-300">info</span> to find out more!</p>
            <% end %>
        </div>
        <div class="my-4 w-full">   
            <%= button_to "Info", event_path(event.id), method: :get, class: "border-2 border-green-300 rounded text-green-300 w-full hover:bg-green-300 hover:text-white mb-2"%>
        </div>
    </div>
</div> 