<% if @attendee.errors.any? %>
    <% @attendee.errors.full_messages.each do |message|%>
        <%= message %>
    <% end %>
<% end %>

<div class="text-black my-8 bg-white w-80 h-fit rounded-3xl">
    <%= image_tag("card-default.jpg", class: "rounded w-72 mx-auto my-0 mt-4")%>
    <div class="px-8">
        <h3 class="text-2xl font-bold">
            <%= event.title %>
        </h3>
        <p class="my-2">
            Where? <%= event.location %>
        </p>
        <p class="my-2">
           What? <%= event.description %>
        </p>
        <p class="my-2">
            When? <%= event.event_date_time.strftime("%m/%d/%Y @ %I:%M%P") %>
        </p>
        <p>
            Hosted By: <%= event.creator.first_name%>
        </p>
        <div class="my-4 flex justify-between">   
            <%= button_to "Info", event_path(event.id), method: :get, class: "border-2 border-green-300 rounded text-green-300 w-20 hover:bg-green-300 hover:text-white"%>
        </div>
    </div>
</div> 